html {
    height:100%;
}
#background-size { 
    height:100% ; 
    background-color: url("skyblue"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  h1 {  text-align: center; font-family: 'cursive;',
 serif; color:black ; font-size: 21.6px; }


        h2{ font-family: 'cursive;', 
    sans-serif ; color:black; font-size: 22px}
        p {
    font-family: fantasy;, sans-serif ; 
    font-style:  italic ; color:#;font-size: 51px;}
            
             p {
    font-family: 'cursive;', sans-serif ; 
    font-style:  italic ; color:#black;}
.navBar{ 
    display: flex; 
    justify-content: space-between;
margin-bottom: 15px;
}

.links {
    display: flex;
}
.links a{
    color: deeppink;
    text-decoration:  none; font-size: 24px;
}
.links a:hover{color: dodgerblue;}