<!doctype html>
<html>
    <head>
        <title>
            Amass
        </title>
        <link rel="stylesheet" type="text/css"
              href='../static/home.css'>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='home.css')}}">
    </head>
    <body>
        <div class="background-image">
      <!-- Show the navbar -->
        <div>
            {% include "navbar.html" %}
        </div>

    <p>    <!-- Write the title of the page in a large heading font -->
    <center>
    <h1><br><br><br><br><br><br><br><br>We are survivors/ mentor women, who are here to give you the support you needed leave.<br><br> this site is for women who are in abusive relationship in Brooklyn,NY.</h1></center>
    <center>
    <h2>Women feeling afraid of not able to surport themselves and their children.</h2></center>
    </p>
    
      


	</div>
</body>
</html>


