<!doctype html>
<html>
    <head>
        <title>
           message
        </title>
        <link rel="stylesheet"
              type="text/css"
              href="{{url_for('static', filename='messages.css')}}">
    </head>
    <body>
<div class="container">
        <!-- Write the title of the page in a large heading font -->
        <h1>
            LET US BE YOUR GUIDING LIGHT TO A BRIGHTER FUTURE!
        </h1>
        <!-- Show the navbar -->
        <div>
            {% include "navbar.html" %}
        </div>
        <div><div style="display: inline-block;">

        <ul>
            <li>Edwards K:718-342-5467</li>
            <li>Gibson S:347-675-1377</li>
            <li>Nedd R:646-266-3708</li>
            <li>Lambert C:917-786-4609</li>  
             </ul></div><div style="display: inline-block;padding-left: 150px;">
                 <img src="{{url_for('static', filename='B(2).jpg')}}" width=300>
             </div></div>
        {% if session %}
            Hello {{ user.name }}! tell us how can we help you!.
            <form action="{{ url_for('messages') }}" method="POST">

                Username
                <input type="text"
                       name="username"
                       value="{{ user.username }}"
                       readonly>
                <br />

                Message text:
                <input type="text" name="text" placeholder="">
                <br />

                <input type="submit" value="Submit">

            </form>

        {% else %}
            Please login to leave a message! :~)
        {% endif %}

        <br />
</div>
    </body>
</html>
